---
title: Scott Hunter's Blog
meta_desc: Notes on AI, creativity, and digital art by Scott Hunter.
url: https://scottjhunter.org/blog/
img: /images/flower.png
alt: A colorful flower
eleventyNavigation:
  key: Blog
  order: 3
heading: Blog
permalink: "/blog/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <figure class="blog-page-image">
    <img src="/images/blog2.png" alt="Blog banner image">
  </figure>
  <ul class="blog-list">
    {% for post in collections.posts | reverse %}
    <li class="blog-list-item">
      <p class="blog-preview-date">{{ post.data.displayDate }}</p>
      <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <p>{{ post.data.excerpt }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
