---
title: Gallery
eleventyNavigation:
  key: Gallery
  order: 2
layout: main.njk
permalink: "/gallery/"
meta_desc: A collection of images from Scott Hunter's gallery.
url: https://scottjhunter.org/gallery/
img: /images/dirigible.jpeg
alt: A fantastical, busy marketplace built on multiple levels under a large dirigible airship
cardType: summary_large_image
---

<h1 class="gallery-h1">{{ title }}</h1>

{% include "partials/feature-gallery.njk" %}
