---
eleventyNavigation:
  key: Home
  order: 0
heading: Art Gallery
description: A collection of recent images. 
layout: main.njk
title: Eleventy Photo Gallery Template
meta_desc: A photo gallery
url: https://eleventy-gallery.netlify.app
img: /images/dirigible.jpeg
alt: A fantastical, busy marketplace built on multiple levels under a large dirigible airship
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}
